<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Change Password</title>
  <link href="/css/change-password.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="change-password-container">
    <h2 class="change-password-title">Reset Your Password</h2>

    <% if (locals.message) { %>
      <p class="error-message">
        <%= message %>
      </p>
      <% } %>

        <form action="/change-password" method="post" class="change-password-form">
          <div class="input-group">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" placeholder="Enter a new password" required />
          </div>

          <div class="input-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password"
              required />
          </div>

          <button type="submit" class="change-password-button">Submit</button>
        </form>
  </div>
</body>

</html>